<%- include('partials/header', { title: 'Edit User' }) %>

<div class="content-section">
    <h2>Edit User: <%= user.name %></h2>
    <form action="/edit-user/<%= user._id %>" method="post" novalidate>
        <div class="form-group">
            <label for="name" class="required">Name:</label>
            <input type="text" id="name" name="name" value="<%= user.name %>" required />
        </div>
       <div class="form-group">
    <label for="location" class="required">Location:</label>
    <select id="location" name="location" required>
        <% if (locations && locations.length > 0) { %>
            <% locations.forEach(location => { %>
                <option value="<%= location._id %>" <%= user.location.equals(location._id) ? 'selected' : '' %>>
                    <%= location.name %>
                </option>
            <% }); %>
        <% } %>
    </select>
</div>
        <div class="form-group">
            <label for="fixedFare" class="required">Fixed Fare:</label>
            <input type="number" id="fixedFare" name="fixedFare" value="<%= user.fixedFare %>" required />
        </div>
        <div class="form-group" style="flex-direction: row; align-items: center;">
            <input type="checkbox" id="isPaid" name="isPaid" <%= user.isPaid ? 'checked' : '' %> />
            <label for="isPaid" style="margin-left: 10px; margin-bottom: 0;">Is Paid</label>
        </div>
        <button type="submit" class="btn">Update User</button>
    </form>
</div>

<%- include('partials/footer') %>