<%- include('partials/header', { title: title }) %>
<%- include('partials/messages') %>

<div class="content-section">
    <h2>
        Select a Location
        <a href="/download-all-users" class="btn" style="float: right;">Download All Users</a>
    </h2>
    <p>Please choose a location to view the list of users.</p>
    <ul class="user-list">
        <% if (locations && locations.length > 0) { %>
            <% locations.forEach(location => { %>
                <li>
                    <a href="/users/location/<%= location._id %>" style="text-decoration: none; color: var(--text-color); font-weight: bold; width: 100%;">
                        <span><%= location.name %></span>
                    </a>
                </li>
            <% }); %>
        <% } else { %>
            <p>No locations found. Please add a location first.</p>
        <% } %>
    </ul>
</div>

<%- include('partials/footer') %>